.like-button2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    position: relative;
    left: -90%;
    bottom: -100%;
    width: 62.81px;
    height: 60.78px;
    padding: 8px 10px ;
    border-radius: 50%;
    z-index: 1;
    background: white;
    transition: 0.5s;
    cursor: pointer;
}

  
.like-button2 button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 8px;
}
  
.like-button2 p {
    font-size: 16px;
    color: #555;
}
  